<!DOCTYPE html>
<html>
<head>
    <title>Medicine Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    /* CSS for the side navigation */
    body {
      margin: 0;
      padding: 0;
    }
    
    #sidebar-wrapper {
      min-height: 100vh;
      margin-left: -15rem;
      transition: margin 0.3s ease-out;
    }
    
    #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }
    
    #sidebar-wrapper .list-group {
      width: 15rem;
    }
    
    #page-content-wrapper {
      min-width: 100vw;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }
    
    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }
      
      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }
      
      #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
    }
  </style>
</head>
<body>
    <!-- Navbar -->
        <!-- Navbar content -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    		<a class="navbar-brand" href="#">MediCore</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav ml-auto">
        		   <li class="nav-item ">
          		   	<a class="nav-link" href="#">DashBoard <span class="sr-only">(current)</span></a>
       			   </li>
			       <li class="nav-item">
			         <a class="nav-link" href="#">Contact Developers</a>
			       </li>
			       <li class="nav-item">
			         <a class="nav-link" href="#">Settings</a>
			       </li>
			       <li class="nav-item">
			         <a class="nav-link" href="http://localhost:8081/home">Logout</a>
			       </li>
     			 </ul>
    		</div>
  		</nav>     
    


	 <!-- Content area -->
	 <div class="col-md-10">
	     <!-- Content dynamically rendered here -->
	     <br />
	    <div class="Container">
	    	<div class="row">
	    		<div class="col-4">
      				<div class="list-group">
      				    <a href="http://localhost:8081/dashboard/home" class="list-group-item list-group-item-action">Dashboard</a>
				        <a href="http://localhost:8081/doctors/home" class="list-group-item list-group-item-action">Doctors</a>
				        <a href="http://localhost:8081/nurses/home" class="list-group-item list-group-item-action">Nurses</a>
				        <a href="http://localhost:8081/receptionists/home" class="list-group-item list-group-item-action">Receptionists</a>
				        <a href="http://localhost:8081/medicines/home" class="list-group-item list-group-item-action">Medicines</a>
				        <a href="http://localhost:8081/patients/home" class="list-group-item list-group-item-action">Patients</a>
				        <a href="http://localhost:8081/appointments/home" class="list-group-item list-group-item-action active">Appointments</a>
				     </div>
               	</div>
            
               	<div class="col-8">
               	<div>
               	<button class="btn btn-primary"> + Add</button>
               	</div>
               	<br />
               	<div>
                    <table class="table">
                    	<thead>
                       	 	<tr>
	                            <th>Name</th>
	                            <th>Manufacturer</th>
	                            <th>Description</th>
	                            <th>Actions</th>
                            </tr>
                    	</thead>
                    	<tbody>
                        <!-- Iterate over the medicines and populate the table rows -->
	                        <tr>
	                            <td>Medicine 1</td>
	                            <td>Manufacturer 1</td>
	                            <td>Description 1</td>
	                            <td>
	                    
	                                <a href="/medicines/1/edit" class="btn btn-primary">Update</a>
	                                <a href="/medicines/1/delete" class="btn btn-danger">Remove</a>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td>Medicine 2</td>
	                            <td>Manufacturer 2</td>
	                            <td>Description 2</td>
	                            <td>
	                              
	                                <a href="/medicines/2/edit" class="btn btn-primary">Upadte</a>
	                                <a href="/medicines/2/delete" class="btn btn-danger">Remove</a>
	                            </td>
	                        </tr>
                        <!-- Add more rows as needed for each medicine -->
                    	</tbody>
                	</table>
                	</div>
                </div>
            </div>
        </div>
   </div>
 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your additional scripts -->
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>

